.btn {
  font-size: large;
  font-weight: 400;
  border: 1px;
  padding: 10px 10px;
  background: gray;
  &:hover {
    cursor: pointer;
    background: rgb(222, 117, 117);
    opacity: 0.9;
  }
}
.active {
  background: green;
}
.disable {
  pointer-events: none;
}
