.side_nav {
  width: 250px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: rgb(10, 25, 41);
  padding-top: 28px;
}
.side_nav_close {
  transition: width 0.3s ease-in-out;
  width: 60px;
  height: 100vh;
  background-color: rgb(10, 25, 41);
  padding-top: 28px;
}
.side_item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  color: #b2bac2;
  text-decoration: none;
}
.link_text {
  padding-left: 16px;
}
.link_text_close {
  visibility: hidden;
}
.side_item:hover {
  background-color: #244f7d1c;
}
.menu_btn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}
